simdm.web.services.client/java/wsdl/AccessControl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:impl="http://localhost:8080/EDMWS/AccessControl?option=LITERAL_ENCODING" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://epmtech.jotne.com/EDM_DUMMY_SCHEMA/EDMAccessControl" targetNamespace="http://localhost:8080/EDMWS/AccessControl?option=LITERAL_ENCODING">
  <wsdl:types>
    <schema targetNamespace="http://epmtech.jotne.com/EDM_DUMMY_SCHEMA/EDMAccessControl" xmlns="http://www.w3.org/2001/XMLSchema">
      <complexType name="EDMbaseEntity"/>
      <element name="version">
        <complexType>
          <sequence>
            <element name="EDMSESSIONID" type="xsd:string"/>
          </sequence>
        </complexType>
      </element>
      <element name="versionResponse">
        <complexType>
          <sequence>
            <element name="Response" type="xsd:string"/>
          </sequence>
        </complexType>
      </element>
      <element name="deleteTemporaryFile">
        <complexType>
          <sequence>
            <element name="EDMSESSIONID" type="xsd:string"/>
            <element name="FILEINFO" type="tns:fileTransferInfo"/>
          </sequence>
        </complexType>
      </element>
      <complexType name="fileTransferInfo">
        <complexContent>
          <extension base="tns:EDMbaseEntity">
            <sequence>
              <element name="uploadOrDownloadUrl" nillable="false" type="xsd:string"/>
              <element name="progressInfoUrl" nillable="false" type="xsd:string"/>
              <element name="fileNameOnServer" nillable="false" type="xsd:string"/>
              <element name="operation" nillable="false" type="xsd:string"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <element name="deleteTemporaryFileResponse">
        <complexType>
          <sequence>
            <element name="Response" type="xsd:string"/>
          </sequence>
        </complexType>
      </element>
      <element name="createTemporaryFile">
        <complexType>
          <sequence>
            <element name="EDMSESSIONID" type="xsd:string"/>
            <element name="FILENAME" type="xsd:string"/>
            <element name="FILETYPE" type="xsd:string"/>
            <element name="UPLOAD" type="xsd:boolean"/>
          </sequence>
        </complexType>
      </element>
      <element name="createTemporaryFileResponse">
        <complexType>
          <sequence>
            <element name="fileTransferInfo" type="tns:fileTransferInfo"/>
          </sequence>
        </complexType>
      </element>
      <element name="xpxLogging">
        <complexType>
          <sequence>
            <element name="EDMSESSIONID" type="xsd:string"/>
            <element name="ACTION" type="xsd:string"/>
            <element name="OPTION" type="xsd:string"/>
            <element name="MAXSIZE" type="xsd:string"/>
          </sequence>
        </complexType>
      </element>
      <element name="xpxLoggingResponse">
        <complexType>
          <sequence>
            <element name="Response" type="xsd:string"/>
          </sequence>
        </complexType>
      </element>
      <element name="resetAllOptions">
        <complexType>
          <sequence>
            <element name="EDMSESSIONID" type="xsd:string"/>
          </sequence>
        </complexType>
      </element>
      <element name="resetAllOptionsResponse">
        <complexType>
          <sequence>
            <element name="Response" type="xsd:string"/>
          </sequence>
        </complexType>
      </element>
      <element name="setOption">
        <complexType>
          <sequence>
            <element name="EDMSESSIONID" type="xsd:string"/>
            <element name="OPTION" type="xsd:string"/>
          </sequence>
        </complexType>
      </element>
      <element name="setOptionResponse">
        <complexType>
          <sequence>
            <element name="Response" type="xsd:string"/>
          </sequence>
        </complexType>
      </element>
      <element name="logout">
        <complexType>
          <sequence>
            <element name="EDMSESSIONID" type="xsd:string"/>
          </sequence>
        </complexType>
      </element>
      <element name="logoutResponse">
        <complexType>
          <sequence>
            <element name="Response" type="xsd:string"/>
          </sequence>
        </complexType>
      </element>
      <element name="login">
        <complexType>
          <sequence>
            <element name="USER" type="xsd:string"/>
            <element name="GROUP" type="xsd:string"/>
            <element name="PASSWORD" type="xsd:string"/>
          </sequence>
        </complexType>
      </element>
      <element name="loginResponse">
        <complexType>
          <sequence>
            <element name="Response" type="xsd:string"/>
          </sequence>
        </complexType>
      </element>
    </schema>
  </wsdl:types>
  <wsdl:message name="versionResponse">
    <wsdl:part name="parameters" element="tns:versionResponse"/>
  </wsdl:message>
  <wsdl:message name="versionRequest">
    <wsdl:part name="parameters" element="tns:version"/>
  </wsdl:message>
  <wsdl:message name="deleteTemporaryFileResponse">
    <wsdl:part name="parameters" element="tns:deleteTemporaryFileResponse"/>
  </wsdl:message>
  <wsdl:message name="deleteTemporaryFileRequest">
    <wsdl:part name="parameters" element="tns:deleteTemporaryFile"/>
  </wsdl:message>
  <wsdl:message name="createTemporaryFileResponse">
    <wsdl:part name="parameters" element="tns:createTemporaryFileResponse"/>
  </wsdl:message>
  <wsdl:message name="createTemporaryFileRequest">
    <wsdl:part name="parameters" element="tns:createTemporaryFile"/>
  </wsdl:message>
  <wsdl:message name="xpxLoggingResponse">
    <wsdl:part name="parameters" element="tns:xpxLoggingResponse"/>
  </wsdl:message>
  <wsdl:message name="xpxLoggingRequest">
    <wsdl:part name="parameters" element="tns:xpxLogging"/>
  </wsdl:message>
  <wsdl:message name="resetAllOptionsResponse">
    <wsdl:part name="parameters" element="tns:resetAllOptionsResponse"/>
  </wsdl:message>
  <wsdl:message name="resetAllOptionsRequest">
    <wsdl:part name="parameters" element="tns:resetAllOptions"/>
  </wsdl:message>
  <wsdl:message name="setOptionResponse">
    <wsdl:part name="parameters" element="tns:setOptionResponse"/>
  </wsdl:message>
  <wsdl:message name="setOptionRequest">
    <wsdl:part name="parameters" element="tns:setOption"/>
  </wsdl:message>
  <wsdl:message name="logoutResponse">
    <wsdl:part name="parameters" element="tns:logoutResponse"/>
  </wsdl:message>
  <wsdl:message name="logoutRequest">
    <wsdl:part name="parameters" element="tns:logout"/>
  </wsdl:message>
  <wsdl:message name="loginResponse">
    <wsdl:part name="parameters" element="tns:loginResponse"/>
  </wsdl:message>
  <wsdl:message name="loginRequest">
    <wsdl:part name="parameters" element="tns:login"/>
  </wsdl:message>
  <wsdl:portType name="EDMAccessControl">
    <wsdl:operation name="version">
      <wsdl:input message="impl:versionRequest" name="versionRequest"/>
      <wsdl:output message="impl:versionResponse" name="versionResponse"/>
    </wsdl:operation>
    <wsdl:operation name="deleteTemporaryFile">
      <wsdl:input message="impl:deleteTemporaryFileRequest" name="deleteTemporaryFileRequest"/>
      <wsdl:output message="impl:deleteTemporaryFileResponse" name="deleteTemporaryFileResponse"/>
    </wsdl:operation>
    <wsdl:operation name="createTemporaryFile">
      <wsdl:input message="impl:createTemporaryFileRequest" name="createTemporaryFileRequest"/>
      <wsdl:output message="impl:createTemporaryFileResponse" name="createTemporaryFileResponse"/>
    </wsdl:operation>
    <wsdl:operation name="xpxLogging">
      <wsdl:input message="impl:xpxLoggingRequest" name="xpxLoggingRequest"/>
      <wsdl:output message="impl:xpxLoggingResponse" name="xpxLoggingResponse"/>
    </wsdl:operation>
    <wsdl:operation name="resetAllOptions">
      <wsdl:input message="impl:resetAllOptionsRequest" name="resetAllOptionsRequest"/>
      <wsdl:output message="impl:resetAllOptionsResponse" name="resetAllOptionsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="setOption">
      <wsdl:input message="impl:setOptionRequest" name="setOptionRequest"/>
      <wsdl:output message="impl:setOptionResponse" name="setOptionResponse"/>
    </wsdl:operation>
    <wsdl:operation name="logout">
      <wsdl:input message="impl:logoutRequest" name="logoutRequest"/>
      <wsdl:output message="impl:logoutResponse" name="logoutResponse"/>
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdl:input message="impl:loginRequest" name="loginRequest"/>
      <wsdl:output message="impl:loginResponse" name="loginResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EDMAccessControlBinding" type="impl:EDMAccessControl">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="version">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="versionRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="versionResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteTemporaryFile">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="deleteTemporaryFileRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteTemporaryFileResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createTemporaryFile">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="createTemporaryFileRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createTemporaryFileResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="xpxLogging">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="xpxLoggingRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="xpxLoggingResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="resetAllOptions">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="resetAllOptionsRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="resetAllOptionsResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setOption">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="setOptionRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="setOptionResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logout">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="logoutRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="logoutResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="loginRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="loginResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EDMAccessControlService">
    <wsdl:port binding="impl:EDMAccessControlBinding" name="EDMWS">
      <wsdlsoap:address location="http://localhost:8080/EDMWS/AccessControl?option=LITERAL_ENCODING"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
